In [33]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 8.6 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ...

In [24]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Sample user-item ratings matrix
ratings_data = {
    'Item1': [5, 0, 4, 0],
    'Item2': [4, 3, 0, 0],
    'Item3': [0, 4, 5, 0],
    'Item4': [0, 0, 0, 5]
}
users = ['User1', 'User2', 'User3', 'User4']
ratings_df = pd.DataFrame(ratings_data, index=users)
display(ratings_df)

       Item1  Item2  Item3  Item4
User1      5      4      0      0
User2      0      3      4      0
User3      4      0      5      0
User4      0      0      0      5

In [25]:
# Calculate user similarities
user_similarities = cosine_similarity(ratings_df)
display(pd.DataFrame(user_similarities))

          0         1         2    3
0  1.000000  0.374817  0.487805  0.0
1  0.374817  1.000000  0.624695  0.0
2  0.487805  0.624695  1.000000  0.0
3  0.000000  0.000000  0.000000  1.0

In [26]:
# Predict ratings for a target user (e.g., User1)
target_user = 'User1'
target_ratings = ratings_df.loc[target_user]
display(target_ratings)

Item1    5
Item2    4
Item3    0
Item4    0
Name: User1, dtype: int64

In [29]:
display(ratings_df)
print(users.index(target_user))

# getting the similarity of the selected user with all other users
similarities_with_target = user_similarities[users.index(target_user)]
display(similarities_with_target)

       Item1  Item2  Item3  Item4
User1      5      4      0      0
User2      0      3      4      0
User3      4      0      5      0
User4      0      0      0      5

0

array([1.        , 0.37481703, 0.48780488, 0.        ])

In [30]:
weighted_ratings = ratings_df.mul(similarities_with_target, axis=0)
display(weighted_ratings)

         Item1     Item2     Item3  Item4
User1  5.00000  4.000000  0.000000    0.0
User2  0.00000  1.124451  1.499268    0.0
User3  1.95122  0.000000  2.439024    0.0
User4  0.00000  0.000000  0.000000    0.0

In [32]:
predicted_ratings = weighted_ratings.sum(axis=1) / similarities_with_target.sum()
display(predicted_ratings)

# Filter out items already rated by the target user
# predicted_ratings = predicted_ratings[ratings_df.loc[items, target_user] == 0]

# Recommend top items
top_recommendations = predicted_ratings.sort_values(ascending=False).head()

print(top_recommendations)

User1    4.831899
User2    1.408616
User3    2.357024
User4    0.000000
dtype: float64

User1    4.831899
User3    2.357024
User2    1.408616
User4    0.000000
dtype: float64